In [1]:
import statsmodels.tools.eval_measures as sm
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import glob
import os

In [10]:
df = pd.read_csv('./ilc_lvps08_linear.csv')
df

,DATAFLOW,LAST UPDATE,freq,age,sex,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y16-19,F,PC,AL,2017,93.8,NaN
1,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y16-19,F,PC,AL,2018,94.9,NaN
2,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y16-19,F,PC,AL,2019,94.2,NaN
3,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y16-19,F,PC,AL,2020,96.8,NaN
4,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y16-19,F,PC,AT,2003,93.2,NaN
...,...,...,...,...,...,...,...,...,...,...
18886,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y25-34,T,PC,UK,2015,16.0,NaN
18887,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y25-34,T,PC,UK,2016,14.3,NaN
18888,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y25-34,T,PC,UK,2017,14.9,b
18889,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y25-34,T,PC,UK,2018,16.2,NaN
18890,ESTAT:ILC_LVPS08(1.0),11/07/23 23:00:00,A,Y25-34,T,PC,XK,2018,62.7,NaN

In [12]:
df.pop('DATAFLOW')

0        ESTAT:ILC_LVPS08(1.0)
1        ESTAT:ILC_LVPS08(1.0)
2        ESTAT:ILC_LVPS08(1.0)
3        ESTAT:ILC_LVPS08(1.0)
4        ESTAT:ILC_LVPS08(1.0)
                 ...
18886    ESTAT:ILC_LVPS08(1.0)
18887    ESTAT:ILC_LVPS08(1.0)
18888    ESTAT:ILC_LVPS08(1.0)
18889    ESTAT:ILC_LVPS08(1.0)
18890    ESTAT:ILC_LVPS08(1.0)
Name: DATAFLOW, Length: 18891, dtype: object

In [13]:
df.pop('LAST UPDATE')

0        11/07/23 23:00:00
1        11/07/23 23:00:00
2        11/07/23 23:00:00
3        11/07/23 23:00:00
4        11/07/23 23:00:00
               ...
18886    11/07/23 23:00:00
18887    11/07/23 23:00:00
18888    11/07/23 23:00:00
18889    11/07/23 23:00:00
18890    11/07/23 23:00:00
Name: LAST UPDATE, Length: 18891, dtype: object

In [15]:
df.pop('freq')

0        A
1        A
2        A
3        A
4        A
        ..
18886    A
18887    A
18888    A
18889    A
18890    A
Name: freq, Length: 18891, dtype: object

In [16]:
df.pop('OBS_FLAG')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18886    NaN
18887    NaN
18888      b
18889    NaN
18890    NaN
Name: OBS_FLAG, Length: 18891, dtype: object

In [18]:
df.columns = df.columns.str.lower()

In [20]:
df.rename(columns={'obs_value' : 'percentage', 'geo':'country'}, inplace=True)

In [22]:
df.pop('unit')

0        PC
1        PC
2        PC
3        PC
4        PC
         ..
18886    PC
18887    PC
18888    PC
18889    PC
18890    PC
Name: unit, Length: 18891, dtype: object

In [24]:
df.to_csv('./young_adults_living_at_home.csv')